@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#home">Carlos Feliciano</a>
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
            <a class="nav-link" id="about-link" href="#home">About</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="skills-link" href="#skills">Skills</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="projects-link" href="#projects">Projects</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="experience-link" href="#experience">Experience</a>
        </li>
    </ul>
</nav>

<section id="home" class="home"></section>

<section id="skills" class="skills">
    <div class="container">
        <h1>Skills</h1>
        <br />
        <div class="row">
            <div class="col">
                <h2>JavaScript</h2>
                <img src="~/images/javascript-original.svg" height="50%" width="50%">
                <h4>3 Years of experience</h4>
            </div>
            <div class="col">
                <h2>Java</h2>
                <img src="~/images/java-original-wordmark.svg" height="50%" width="50%">
                <h4>4 Years of experience</h4>
            </div>
            <div class="col">
                <h2>SQL</h2>
                <img src="~/images/mysql-original-wordmark.svg" height="50%" width="50%">
                <h4>2 Years of experience</h4>
            </div>
        </div>
    </div>
</section>

<section id="projects" class="projects">
    <div class="container">
        <h1>Projects</h1>
        <br />
        <div class="row">
            <div class="col">
                <h2>Art Twitter Bot</h2>
                <p style="font-size:100px">&#x1F916;</p>
                <h4>2018</h4>
                <p>
                    Automatically tweets paintings from the Rijksmuseum in 24-hour intervals.
                    Fully written in Python, this bot makes use of the Twython API and the Rijksmuseum API.
                    Artwork information like title, artist, and publishing date is obtained as JSON from the Rijksstudio database.
                    Pieces of artwork tweeted by this bot are all available on the Rijksmuseum website.
                </p>
            </div>
            <div class="col">
                <h2>URL Shortener Microservice</h2>
                <p style="font-size:100px">&#x1F4BB;</p>
                <h4>2019</h4>
                <p>
                    URL Shortener made with Node.js, Express.js, and SQLite that allows for easy sharing of links.
                    It is perfect for social media sites like Twitter where character limits are present.
                </p>
            </div>
            <div class="col">
                <h2>JS Paint Tool</h2>
                <p style="font-size:100px">&#x1F3A8;</p>
                <h4>2016</h4>
                <p>
                    Paint tool written using plain JavaScript and HTML5 canvas that allows a user
                    to select a color and draw shapes and figures. Similar to MS Paint.
                </p>
            </div>
        </div>
    </div>
</section>

<section id="experience" class="experience">
    <div class="container">
        <h1>Experience</h1>
        <br />
        <div class="row">
            <div class="col">
                <h2>Teckpert</h2>
                <h3>Web Development Intern</h3>
                <img src="~/images/index.png">
                <h4>2019-Present</h4>
                <p>
                    Work with React Native on the frontend and MySQL on the backend,
                    as well as Amazon Web Services for deployment to provide quality
                    design solutions to small/mid-sized companies.
                </p>
            </div>
            <div class="col">
                <h2>McArthur High</h2>
                <h3>Crime Watch Volunteer</h3>
                <img src="~/images/mcarthur.png">
                <h4>2014-2015</h4>
                <p>
                    Worked in a team to ensure school grounds are free of suspicious activity and
                    maintained records of hours completed and weekly progress.
                </p>
            </div>
        </div>
    </div>
</section>